<span style='color: #000' title='Frames'>  1362</span><span style='color: #009' title='Memory'>  28416.00 KB</span><span style='color: #900' title='Time'>   1899.42 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />