 /* ==========================================================================
   Import Bootstrap CSS
   ========================================================================== */

 @import url(bootstrap.css);

  
 /* ========================================================================================================================================
   Bootstrap Overriders (Author's Version of Normalization)
   ========================================================================================================================================= */

/* Global Overriders
-------------------------------------------------- */

p {
  margin: 0;
}

a {
  color: #999; /* Custom */
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
}

a:hover,
a:focus {
  color: #333; /* Custom */
  text-decoration: none;
}

a:focus {
  outline: none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  outline-offset: -2px;
}

label {
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

tbody tr td.no-record {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
  font-style: italic;
}

/* Media Query Killer (Make sure setting max-width in Bootstrap.css as none !important)
----------------------------------------------------------------------------------------  

.container {
  width: 970px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */


 /* ========================================================================================================================================
   Author's Custom Styles
   ========================================================================================================================================= */

/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
  background: #fff;
  font-family: 'Open Sans Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.container {
  max-width: 800px;
  padding: 0;
}

p {
  font-size: 12px;
}


/* ==========================================================================
   Mandiri Box
   ========================================================================== */

.box {
  /*width: 800px;*/
  margin: 0
}

@media (min-width: 768px) { 
  .box {
    /*width: 800px;*/
    margin: 50px auto 0;
  }
}

.invoice {
  float: left;
  /*width: 250px;*/
  /*height: 400px;*/
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.invoice > .content {
  padding: 25px;
}

.invoice h2 {
  margin: 0 0 40px 0;
  font-weight: 200;
  font-size: 20px;
}

.invoice h3 {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  color: #999;
}

.login .main label{
  font-size: 12px;
}

.box .login {
  font-size:12px;
  float: right;
  width: 530px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  overflow: hidden;
}

@media (min-width: 768px) { 
  .box .login {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .box{
    width:100%;
    position: absolute;
  }
  .box .login {
    float:left;
    width: 100%;
  }
  .container{
    max-width: 100%;
  }
}

.payment-info {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 2px;
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.login .head {
  background: #003f75;
  height: 65px;
}

.login .head .logo {
  margin: 15px;
  float: right;
}

.login .head .logo,
.login .head .logo img {
  width: 70px;
}

@media (min-width: 768px) { 
  .login .head .logo,
  .login .head .logo img {
    width: 120px;
  }
  .login .head {
    background: #003f75;
    height: 105px;
  }
  .login .head .logo {
    margin: 20px;
    float: right;
  }
}

.login .midbar {
  background: #ffce14;
  height: 30px;
}

.steps-container {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 30px;
}

.steps {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #fff;
  border: 3px solid #ffce14;
  float: left;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  color: #003f75;
  margin: 0 60px;
}

@media (min-width: 991px) {
  .steps {
    margin: 0 55px;
  }
}

.steps.active {
  color: #fff;
  background: #003f75;
  border-color: #003f75;
}

.main {
  padding: 10px 20px;
}

.main p {
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}

.main p span.info {
  color: #aaa;
}

@media (min-width: 768px) {
  .main {
    padding: 10px 40px 30px;
  }
}


/* ==========================================================================
   Forms
   ========================================================================== */

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  padding: 8px 10px;
  font-size: 12px;
  text-transform: lowercase;
  background: #eee;
  color: #333;
  border-color: transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-opacity ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-opacity ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-horizontal .control-label {
  padding-top: 6px;
}


/* ==========================================================================
   Buttons
   ========================================================================== */

.btn.btn-primary:focus,
.btn.btn-default:focus,
.btn.btn-success:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  font-size: 1em;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #333;
  background-color: #fcc210;
  border-color: #fcc210;
}

.btn-primary.btn-subscribe {
  border-radius: 3px 0 0 3px;
  margin-right: -10px;
}

.btn-primary.btn-subscribe.visible-xs {
  border-radius: 3px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  color: #333;
  background-color: #e8b20d;
  border: 1px solid #e8b20d; 
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color: #e8b20d;
  border-color: #e8b20d;
}


.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}


.btn-default.btn-reset {
  color: #999;
  background-color: #fff;
  border: 1px solid #aaa;
}
.btn-default.btn-reset:hover,.btn-default.btn-reset:focus,.btn-default.btn-reset:active,.btn-default.btn-reset.active,.open .dropdown-toggle.btn-default.btn-reset {
  color: #333;
  background-color: #fafafa;
  border-color: #999;
}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}


.btn-print {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.btn-print:hover,.btn-print:focus,.btn-print:active,.btn-print.active,.open .dropdown-toggle.btn-print {
  color: #fff;
  background-color: #265d78;
  border-color: #265d78;
}


.btn.btn-primary.btn-full,
.btn.btn-default.btn-full,
.btn.btn-success.btn-full {
  width: 100%;
  text-align: center;
}


 /* ========================================================================================================================================
   Chrome Frame Support
   ========================================================================================================================================= */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


 /* ========================================================================================================================================
   Fonts
   ========================================================================================================================================= */

@font-face {
  font-family: 'FontName';
  src: url('../files/fonts/FontName.eot');
  src: url('../files/fonts/FontName.eot?#iefix') format('embedded-opentype'),
       url('../files/fonts/FontName.woff') format('woff'),
       url('../files/fonts/FontName.ttf') format('truetype'),
       url('../files/fonts/FontName.svg') format('svg'),
       url('../files/fonts/FontName.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}


 /* ========================================================================================================================================
   Helper Class
   ========================================================================================================================================= */

/* 
 * Set div in the middle
 */

.outer-center {
  float: right;
  right: 50%;
  position: relative;
}
.inner-center {
  float: right;
  right: -50%;
  position: relative;
}

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow:none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */