#edit-account{
	/*background : #efefef;*/
}
.table-border label{
	margin-left: 10px;
}
.table-border td{
	border:1px solid #B8E0EE;
}
#edit-account td{
	padding:0px;
	margin-top:2px;
	/*display: inline-block;*/
	
}
#edit-account input[type="text"], #edit-account textarea{
	padding-left: 10px;
	background :#DDE9FA;
	width: 100%;
	height: 100%;
	float: left;
	padding:0px 1px;
	margin:0;
	border:none;
	box-shadow: none;
}
#edit-account label{
	/*width: auto;*/
	/*float: left;*/
	line-height: 1.6em;
}
#edit-account h4{
	background-color: #2F4EAC;
	color: #fff;
	text-align: center;
	line-height: 1.5em;
	border-top: 1px solid #80CDE9;
	border-bottom: 1px solid #80CDE9;
	border-right: 1px solid #80CDE9;
}
#edit-account th{
	background-color: #BFE4F1;
	color: #000;
	text-align: center;
	line-height: 1.5em;
	border-top: 1px solid #80CDE9;
	border-bottom: 1px solid #80CDE9;
	border-right: 1px solid #80CDE9;	
} 
#edit-account th:last-child{
	border-right: none;	
}

.col-md-3,.col-md-6,.col-md-9,.col-md-12{
	/*border-bottom:1px solid #80CDE9;*/
}

.col-md-3{
	width: 25%;
	float:left;
}
.col-md-6{
	width: 50%;
	float:left;
}
.col-md-9{
	width: 75%;
	float:left;	
}
.col-md-12{
	width: 100%;
	float:left;
	/*border: 1px solid #80CDE9;*/
}
.left{
	float:left;
}
.border, .border td{
	/*border: 1px solid #B8E0EE;*/
}
label.control-label,label{
	color: #000;
}
.line{
	border-bottom: 2px solid #B8E0EE;
	padding-bottom: 2px;
	/*margin-bottom: 5px;*/
}
.col-md-6.left textarea,.col-md-6.left input{
	/*width: 98%!important;*/
}
.edit-accout h5{
	padding-left: 10px;
	line-height: 2em;
	color: #000;
	background-color: #BFE4F1;
	border-top: 1px solid #80CDE9;
	border-bottom: 1px solid #80CDE9;
}
.col-md-12.head-title h4{
	margin-bottom: 0;
}
#edit-account .line .col-md-9 label{
	float: left;
	width: 200px;
}
#edit-account .line .col-md-9.last label{
	float: left;
	width: 250px;	
}
#edit-account .line .col-md-9 input[type="text"],td.radio input[type="text"]{
	width: 230px!important;
}
td.radio label{
	float: left;
	width: 250px!important;
	margin-left:20px;
}
td.range label{

}
.company input{
/*	margin-bottom: 3px!important;*/
	/*line-height: 2em;*/
	margin: 2px 0px!important;
	width: 98%!important;
}
.company td{
	/*border: 1px solid #80CDE9;	*/
	border-right: 1px solid #80CDE9;	
	border-bottom: 1px solid #80CDE9;	
	color: #000;
	padding-left: 5px!important;
}
.company .rig{
	border-left: none!important;
}
.range label{
	float: left;
	width: 100px;
}
span.fill{
	color: red;
}
input.error,textarea.error,select.error{
	border:1px solid red!important;
}
label.error{
	color: red;
}
.npwp input{
	width: 97%!important;
	margin-left: 2px!important;
}
.birthday input[type="text"]{
	width: 145px!important;
	margin: 0 5px!important;
}
.sim input{
	margin: 0 2px!important;
	width: 98%!important;
}
.sim td,.npwp td{
	border: 1px solid #B8E0EE;
}
.inheritor label.inher{
	margin-right: 130px;
}
.inheritor label{
	display: inline-block;
}
.inheritor{
	border-left: 1px solid #80CDE9;	
}

.inheritor input{
	width: 200px!important;
	margin-left: 1px!important;
}
.last label,.radio label,.range label,.birthday label,.objective label{
	position: relative;
}
.last label.error{
	
	position: absolute;
	margin-left: 115px;
	z-index: 999;
	bottom: 25px;
	
    background: red;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    color: #fff;
}
.radio label.error{
	
	position: absolute;
	margin-left: 165px;
	z-index: 999;
	bottom: 25px;
	
    background: red;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    color: #fff;	
}
.range label.error{
	
	position: absolute;
	margin-left: 165px;
	z-index: 999;
	bottom: 25px;
	
    background: red;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    color: #fff;	
    width: 150px;
}
.birthday label.error{
	
	position: absolute;
	margin-left: 43px;
	z-index: 999;
	bottom: 25px;
	
    background: red;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    color: #fff;	
    width: 150px;
}
.hide-message label.error{
	display: none!important;	
}
.objective label.error{
	position: absolute;
	margin-left: 155px;
	z-index: 999;
	bottom: 25px;
	
    background: red;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    color: #fff;	
    width: 150px;
}
.input-small textarea,.input-small input {
	width: 98%!important;
}
.marital label{
	float: left;
}
.national{
	text-align: center;
}
.national select{
	width: 150px!important;
	margin: 0;
	height: 21px;
}
#banner_slides .hero{
	background-size: 100% 100%!important;
}
section#featured p.title{
	text-transform: capitalize;
}