/* ========================================================================================================================================
   Bootstrap Overriders (Author's Version of Normalization)
   ========================================================================================================================================= */

/* Default Row
-------------------------------------------------- */

.row {
  margin-right: -10px; /* Originally 15 */
  margin-left: -10px; /* Originally 15 */
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px; /* Originally 15 */
  padding-left: 10px; /* Originally 15 */
}

/* Row / Col Variations
-------------------------------------------------- */

.row-n {
  margin-right: 0px;
  margin-left: 0px;
}
.row-n > .col-xs-1,.row-n > .col-xs-2,.row-n > .col-xs-3,.row-n > .col-xs-4,.row-n > .col-xs-5,.row-n > .col-xs-6,.row-n > .col-xs-7,.row-n > .col-xs-8,.row-n > .col-xs-9,.row-n > .col-xs-10,.row-n > .col-xs-11,.row-n > .col-xs-12,.row-n > .col-sm-1,.row-n > .col-sm-2,.row-n > .col-sm-3,.row-n > .col-sm-4,.row-n > .col-sm-5,.row-n > .col-sm-6,.row-n > .col-sm-7,.row-n > .col-sm-8,.row-n > .col-sm-9,.row-n > .col-sm-10,.row-n > .col-sm-11,.row-n > .col-sm-12,.row-n > .col-md-1,.row-n > .col-md-2,.row-n > .col-md-3,.row-n > .col-md-4,.row-n > .col-md-5,.row-n > .col-md-6,.row-n > .col-md-7,.row-n > .col-md-8,.row-n > .col-md-9,.row-n > .col-md-10,.row-n > .col-md-11,.row-n > .col-md-12,.row-n > .col-lg-1,.row-n > .col-lg-2,.row-n > .col-lg-3,.row-n > .col-lg-4,.row-n > .col-lg-5,.row-n > .col-lg-6,.row-n > .col-lg-7,.row-n > .col-lg-8,.row-n > .col-lg-9,.row-n > .col-lg-10,.row-n > .col-lg-11,.row-n > .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.row-5 {
  margin-right: -5px;
  margin-left: -5px;
}
.row-5 > .col-xs-1,.row-5 > .col-xs-2,.row-5 > .col-xs-3,.row-5 > .col-xs-4,.row-5 > .col-xs-5,.row-5 > .col-xs-6,.row-5 > .col-xs-7,.row-5 > .col-xs-8,.row-5 > .col-xs-9,.row-5 > .col-xs-10,.row-5 > .col-xs-11,.row-5 > .col-xs-12,.row-5 > .col-sm-1,.row-5 > .col-sm-2,.row-5 > .col-sm-3,.row-5 > .col-sm-4,.row-5 > .col-sm-5,.row-5 > .col-sm-6,.row-5 > .col-sm-7,.row-5 > .col-sm-8,.row-5 > .col-sm-9,.row-5 > .col-sm-10,.row-5 > .col-sm-11,.row-5 > .col-sm-12,.row-5 > .col-md-1,.row-5 > .col-md-2,.row-5 > .col-md-3,.row-5 > .col-md-4,.row-5 > .col-md-5,.row-5 > .col-md-6,.row-5 > .col-md-7,.row-5 > .col-md-8,.row-5 > .col-md-9,.row-5 > .col-md-10,.row-5 > .col-md-11,.row-5 > .col-md-12,.row-5 > .col-lg-1,.row-5 > .col-lg-2,.row-5 > .col-lg-3,.row-5 > .col-lg-4,.row-5 > .col-lg-5,.row-5 > .col-lg-6,.row-5 > .col-lg-7,.row-5 > .col-lg-8,.row-5 > .col-lg-9,.row-5 > .col-lg-10,.row-5 > .col-lg-11,.row-5 > .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.row-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.row-10 > .col-xs-1,.row-10 > .col-xs-2,.row-10 > .col-xs-3,.row-10 > .col-xs-4,.row-10 > .col-xs-5,.row-10 > .col-xs-6,.row-10 > .col-xs-7,.row-10 > .col-xs-8,.row-10 > .col-xs-9,.row-10 > .col-xs-10,.row-10 > .col-xs-11,.row-10 > .col-xs-12,.row-10 > .col-sm-1,.row-10 > .col-sm-2,.row-10 > .col-sm-3,.row-10 > .col-sm-4,.row-10 > .col-sm-5,.row-10 > .col-sm-6,.row-10 > .col-sm-7,.row-10 > .col-sm-8,.row-10 > .col-sm-9,.row-10 > .col-sm-10,.row-10 > .col-sm-11,.row-10 > .col-sm-12,.row-10 > .col-md-1,.row-10 > .col-md-2,.row-10 > .col-md-3,.row-10 > .col-md-4,.row-10 > .col-md-5,.row-10 > .col-md-6,.row-10 > .col-md-7,.row-10 > .col-md-8,.row-10 > .col-md-9,.row-10 > .col-md-10,.row-10 > .col-md-11,.row-10 > .col-md-12,.row-10 > .col-lg-1,.row-10 > .col-lg-2,.row-10 > .col-lg-3,.row-10 > .col-lg-4,.row-10 > .col-lg-5,.row-10 > .col-lg-6,.row-10 > .col-lg-7,.row-10 > .col-lg-8,.row-10 > .col-lg-9,.row-10 > .col-lg-10,.row-10 > .col-lg-11,.row-10 > .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.row-15 {
  margin-right: -15px;
  margin-left: -15px;
}
.row-15 > .col-xs-1,.row-15 > .col-xs-2,.row-15 > .col-xs-3,.row-15 > .col-xs-4,.row-15 > .col-xs-5,.row-15 > .col-xs-6,.row-15 > .col-xs-7,.row-15 > .col-xs-8,.row-15 > .col-xs-9,.row-15 > .col-xs-10,.row-15 > .col-xs-11,.row-15 > .col-xs-12,.row-15 > .col-sm-1,.row-15 > .col-sm-2,.row-15 > .col-sm-3,.row-15 > .col-sm-4,.row-15 > .col-sm-5,.row-15 > .col-sm-6,.row-15 > .col-sm-7,.row-15 > .col-sm-8,.row-15 > .col-sm-9,.row-15 > .col-sm-10,.row-15 > .col-sm-11,.row-15 > .col-sm-12,.row-15 > .col-md-1,.row-15 > .col-md-2,.row-15 > .col-md-3,.row-15 > .col-md-4,.row-15 > .col-md-5,.row-15 > .col-md-6,.row-15 > .col-md-7,.row-15 > .col-md-8,.row-15 > .col-md-9,.row-15 > .col-md-10,.row-15 > .col-md-11,.row-15 > .col-md-12,.row-15 > .col-lg-1,.row-15 > .col-lg-2,.row-15 > .col-lg-3,.row-15 > .col-lg-4,.row-15 > .col-lg-5,.row-15 > .col-lg-6,.row-15 > .col-lg-7,.row-15 > .col-lg-8,.row-15 > .col-lg-9,.row-15 > .col-lg-10,.row-15 > .col-lg-11,.row-15 > .col-lg-12 {
  padding-right: 15px;
  padding-left: 15px;
}

.row-20 {
  margin-right: -20px;
  margin-left: -20px;
}
.row-20 > .col-xs-1,.row-20 > .col-xs-2,.row-20 > .col-xs-3,.row-20 > .col-xs-4,.row-20 > .col-xs-5,.row-20 > .col-xs-6,.row-20 > .col-xs-7,.row-20 > .col-xs-8,.row-20 > .col-xs-9,.row-20 > .col-xs-10,.row-20 > .col-xs-11,.row-20 > .col-xs-12,.row-20 > .col-sm-1,.row-20 > .col-sm-2,.row-20 > .col-sm-3,.row-20 > .col-sm-4,.row-20 > .col-sm-5,.row-20 > .col-sm-6,.row-20 > .col-sm-7,.row-20 > .col-sm-8,.row-20 > .col-sm-9,.row-20 > .col-sm-10,.row-20 > .col-sm-11,.row-20 > .col-sm-12,.row-20 > .col-md-1,.row-20 > .col-md-2,.row-20 > .col-md-3,.row-20 > .col-md-4,.row-20 > .col-md-5,.row-20 > .col-md-6,.row-20 > .col-md-7,.row-20 > .col-md-8,.row-20 > .col-md-9,.row-20 > .col-md-10,.row-20 > .col-md-11,.row-20 > .col-md-12,.row-20 > .col-lg-1,.row-20 > .col-lg-2,.row-20 > .col-lg-3,.row-20 > .col-lg-4,.row-20 > .col-lg-5,.row-20 > .col-lg-6,.row-20 > .col-lg-7,.row-20 > .col-lg-8,.row-20 > .col-lg-9,.row-20 > .col-lg-10,.row-20 > .col-lg-11,.row-20 > .col-lg-12 {
  padding-right: 20px;
  padding-left: 20px;
}

.row-25 {
  margin-right: -25px;
  margin-left: -25px;
}
.row-25 > .col-xs-1,.row-25 > .col-xs-2,.row-25 > .col-xs-3,.row-25 > .col-xs-4,.row-25 > .col-xs-5,.row-25 > .col-xs-6,.row-25 > .col-xs-7,.row-25 > .col-xs-8,.row-25 > .col-xs-9,.row-25 > .col-xs-10,.row-25 > .col-xs-11,.row-25 > .col-xs-12,.row-25 > .col-sm-1,.row-25 > .col-sm-2,.row-25 > .col-sm-3,.row-25 > .col-sm-4,.row-25 > .col-sm-5,.row-25 > .col-sm-6,.row-25 > .col-sm-7,.row-25 > .col-sm-8,.row-25 > .col-sm-9,.row-25 > .col-sm-10,.row-25 > .col-sm-11,.row-25 > .col-sm-12,.row-25 > .col-md-1,.row-25 > .col-md-2,.row-25 > .col-md-3,.row-25 > .col-md-4,.row-25 > .col-md-5,.row-25 > .col-md-6,.row-25 > .col-md-7,.row-25 > .col-md-8,.row-25 > .col-md-9,.row-25 > .col-md-10,.row-25 > .col-md-11,.row-25 > .col-md-12,.row-25 > .col-lg-1,.row-25 > .col-lg-2,.row-25 > .col-lg-3,.row-25 > .col-lg-4,.row-25 > .col-lg-5,.row-25 > .col-lg-6,.row-25 > .col-lg-7,.row-25 > .col-lg-8,.row-25 > .col-lg-9,.row-25 > .col-lg-10,.row-25 > .col-lg-11,.row-25 > .col-lg-12 {
  padding-right: 25px;
  padding-left: 25px;
}

.row-30 {
  margin-right: -30px;
  margin-left: -30px;
}
.row-30 > .col-xs-1,.row-30 > .col-xs-2,.row-30 > .col-xs-3,.row-30 > .col-xs-4,.row-30 > .col-xs-5,.row-30 > .col-xs-6,.row-30 > .col-xs-7,.row-30 > .col-xs-8,.row-30 > .col-xs-9,.row-30 > .col-xs-10,.row-30 > .col-xs-11,.row-30 > .col-xs-12,.row-30 > .col-sm-1,.row-30 > .col-sm-2,.row-30 > .col-sm-3,.row-30 > .col-sm-4,.row-30 > .col-sm-5,.row-30 > .col-sm-6,.row-30 > .col-sm-7,.row-30 > .col-sm-8,.row-30 > .col-sm-9,.row-30 > .col-sm-10,.row-30 > .col-sm-11,.row-30 > .col-sm-12,.row-30 > .col-md-1,.row-30 > .col-md-2,.row-30 > .col-md-3,.row-30 > .col-md-4,.row-30 > .col-md-5,.row-30 > .col-md-6,.row-30 > .col-md-7,.row-30 > .col-md-8,.row-30 > .col-md-9,.row-30 > .col-md-10,.row-30 > .col-md-11,.row-30 > .col-md-12,.row-30 > .col-lg-1,.row-30 > .col-lg-2,.row-30 > .col-lg-3,.row-30 > .col-lg-4,.row-30 > .col-lg-5,.row-30 > .col-lg-6,.row-30 > .col-lg-7,.row-30 > .col-lg-8,.row-30 > .col-lg-9,.row-30 > .col-lg-10,.row-30 > .col-lg-11,.row-30 > .col-lg-12 {
  padding-right: 30px;
  padding-left: 30px;
}

/* Global Overriders
-------------------------------------------------- */

p {
  margin: 0;
}

a {
  color: #31708f;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
}

a:hover,
a:focus {
  color: #3b8bb2;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  outline-offset: -2px;
}

textarea {
  resize: none;
}

label {
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p.no-record {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #999;
  font-style: italic;
  background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading {
  background: #fff url(../img/loading.gif) center no-repeat;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: absolute;
}

/* Color
-------------------------------------------------- */

.cl-ccc {
  color: #ccc;
}

.cl-aaa {
  color: #aaa;
}

.cl-green {
  color: #188300;
}

.cl-red {
  color: #EC6857;
}

.cl-orange {
  color: #F5990D;
}

.cl-grey {
  color: #888;
}

.cl-blue-info {
  color: #31708f;
}

.cl-yellow {
  color: #fcc210;
}

/* Typography
-------------------------------------------------- */

.disclaimer {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
}

.typo-info {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #999;
}

.typo-light {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

strong {
  font-weight: normal;
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Media Query Killer (Make sure setting max-width in Bootstrap.css as none !important)
----------------------------------------------------------------------------------------  

.container {
  width: 970px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */


 /* ========================================================================================================================================
   Author's Custom Styles
   ========================================================================================================================================= */

/* ==========================================================================
   Global Styles
   ========================================================================== */

/* Body
-------------------------------------------------- */

body {
  background: #fafafa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../files/common/bg_cover-1.jpg',sizingMethod='scale')";
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  font-family: 'Open Sans Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}


/* Global Overriders
-------------------------------------------------- */

.container {
  padding-left: 10px; /* originally 15 */
  padding-right: 10px; /* originally 15 */
}


/* Heading
-------------------------------------------------- */

.heading {
  text-align: center;
  margin: 30px 0;
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.heading > .container {
  position: relative;
}

.heading h2 {
  margin-bottom: 10px;
}

.heading p {
  color: #999;
}

/* General
-------------------------------------------------- */

.pagination > li > a, .pagination > li > span {
  border: none;
  border-radius: 15px;
  margin: 0 2px;
  color: #999;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
  border-radius: 15px;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
  border-radius: 15px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: #05477d;
}

.breadcrumb {
  background: none;
  margin-bottom: 5px;
}


/* ==========================================================================
   Home
   ========================================================================== */

.hero {
  position: relative;
  background: url(../img/img_sunrise.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../files/common/bg_cover-1.jpg',sizingMethod='scale')";
  height: 300px;

  /*background-size: auto 128%!important;*/
  /*background-position: 0 55%!important;*/
}

.hero .text {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 50px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  width: 100%;
}

.hero .text h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero .text p {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .hero .text {
    width: 400px;
  }
}


/* ==========================================================================
   Nav
   ========================================================================== */

.navbar.navbar-static-top {
  background: #05477d;
  border-bottom: none;
  font-size: 1.1em;
  margin-bottom: 0;
}

.navbar.navbar-static-top .navbar-brand {
  height: auto;
}

@media (max-width: 990px) {
  .cart-head {
     /*display: none !important;*/
  }
}
/*@media (min-width: 768px) {
  .navbar-nav {
    padding: 0;
  }
}

.navbar-brand {
  padding-left: 5px;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 15px;
  }
}*/

.navbar.navbar-static-top .navbar-brand img {
  width: 80px;
}

.navbar.navbar-static-top .nav > li > a {
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  color: #fff;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
  -o-transition: background .25s ease-in-out;
}

.navbar.navbar-static-top .nav > li.active > a {
  background: #033a67;
  border-bottom: 3px solid #fcc210;
}

.navbar.navbar-static-top .nav > li > a:hover,
.navbar.navbar-static-top .nav > li > a:focus {
  background: #033a67;
}

.navbar.navbar-static-top .nav .cart-count {
  margin-left: 6px;
  background: #faa817;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 3px 5px;
  color: #003465;
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Navbar Top
-------------------------------------------------- */

.navbar-top {
  background: #033a67;
  color: #fff;
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.navbar-top a.dropdown-toggle {
  color: #fff;
  margin-right: -10px;
  padding: 7px 10px;
  text-decoration: none;
}

.navbar-top a.dropdown-toggle:hover {
  background: #002441;
}

.dropdown.open .dropdown-toggle {
  background: #002441;
  color: rgba(255,255,255,0.5);
}

.navbar-top .dropdown-menu {
  z-index: 10000;
  right: -10px;
  left: auto;
  top: 23px;
  border-radius: 0 0 2px 2px;
  background: #002441;
  border: none;
}

.navbar-top .dropdown-menu a {
  padding: 5px 20px;
  margin: 0;
  color: #fff;
}

.navbar-top .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #fcc210;
}

@media (min-width: 768px) {
  .navbar-top a.dropdown-toggle {
    margin-right: 10px;
    padding: 6px 10px 6px;
  }

  .navbar-top .dropdown-menu {
    right: 10px;
  }
}

/* Navbar Icons
-------------------------------------------------- */

.nav-icons {
  float: right;
  margin-right: 20px;
  margin-top: 13px;
}

.nav-icons img {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-icons a:last-child img {
  margin-right: 0;
}


/* Navbar Bottom
-------------------------------------------------- */

.navbar.navbar-bottom {
  border-top: 5px solid #FFC028;
  background: #FFC028;
  border-bottom: none;
  min-height: 46px;
  border-radius: 0;
}

.navbar.navbar-bottom .nav.navbar-nav {
  border-bottom: 0;
}

.navbar.navbar-bottom .nav > li > a {
  padding: 10px 20px;
  font-size: 1em;
  color: #333;
  border-bottom: none;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
  -o-transition: background .25s ease-in-out;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
}

.navbar.navbar-bottom .nav > li.active > a,
.navbar.navbar-bottom .nav > li.active > a:hover,
.navbar.navbar-bottom .nav > li.active > a:focus {
  background: #fafafa;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #fafafa;
  color: #333;
  cursor: default;
}

.navbar.navbar-bottom .nav > li > a:hover,
.navbar.navbar-bottom .nav > li > a:focus {
  background: #FFC028;
  color: #B18008;
}

.navbar.navbar-bottom .navbar-header h2 {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 8px 0 12px 15px;
  font-size: 1.8em;
}

.navbar.navbar-bottom .navbar-header .navbar-toggle {
  margin-top: 2px;
  border: transparent;
}

.navbar.navbar-bottom .navbar-header .navbar-toggle .icon-bar {
  background: #C18A06;
}

.navbar.navbar-bottom .navbar-header .glyphicon {
  color: #C18A06;
}

@media (min-width: 768px) {
  .navbar.navbar-bottom .navbar-collapse {
    padding: 0;
  }
  .navbar.navbar-bottom .nav > li > a {
    padding: 10px 9px;
  }
}

@media (min-width: 991px) {
  .navbar.navbar-bottom .nav > li > a {
    padding: 10px 24px;
  }
}

@media (min-width: 1200px) {
  .navbar.navbar-bottom .nav > li > a {
    padding: 10px 38px;
  }
}

/* ==========================================================================
   Products
   ========================================================================== */

.thumb > .content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0px 0 #ddd;
  -moz-box-shadow: 0 1px 0px 0 #ddd;
  -o-box-shadow: 0 1px 0px 0 #ddd;
  box-shadow: 0 1px 0px 0 #ddd;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eee;
}

.thumb > .content.m_b_10 {
  margin-bottom: 10px;
}

.thumb .image {
  position: relative;
  background: #fafafa;
}

.thumb .image .pic-overlayer {
  background: url(../img/img_pic-overlayer-2.png) repeat-x;
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
}

.thumb .image .title {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  z-index: 101;
}

.thumb .info {
  padding: 10px;
}

.thumb .info .price {
  line-height: 34px;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .thumb .info .price {
    text-align: left;
    font-size: 1em;
  }

  .thumb .image .title {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #fff;
    font-size: 16px;
    z-index: 101;
  }
}

@media (min-width: 991px) {
  .thumb .info .price {
    text-align: left;
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .thumb .info .price {
    line-height: 34px;
    font-size: 1.2em;
  }
}

.thumb .info span.unit {
  color: #999;
}

p.prod-price {
  color: #fff;
  background: #05477d;
  padding: 15px 10px;
  margin-right: -15px;
  margin-bottom: 15px;
  border-radius: 4px 0 0 4px;
  margin-top: 15px;
}

p.prod-price span {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 5px;
  color: #9bc9f1;
}

p.prod-price span.prod-info {
  color: #9bc9f1;
}

@media (min-width: 768px) {
  p.prod-price {
    margin-top: 0;
  }
}

.prod-order input.form-control {
  height: 40px;
  font-size: 1.3em;
  border-radius: 2px 2px 0 0;
  text-align: center;
}

.prod-order .btn.btn-primary {
  height: 40px;
  border-radius: 0 0 2px 2px;
}

.prod-order .form-horizontal .form-group {
  margin: 0;
}

.prod-order .form-horizontal .form-group .col-sm-8,
.prod-order .form-horizontal .form-group .col-sm-4 {
  padding: 0;
}

@media (min-width: 768px) {
  .prod-order input.form-control {
    border-radius: 2px 0 0 2px;
  }

  .prod-order .btn.btn-primary {
    height: 40px;
    border-radius: 0 2px 2px 0;
  }
}

/* ==========================================================================
   Shopping Cart
   ========================================================================== */

.shopcart .table > tbody > tr > td {
  vertical-align: top;
}

.order-steps {
  margin-bottom: 40px;
  padding: 0 15px;
}

.row.order-steps .col-xs-3 {
  width: 20%;
}

.order-steps .step-item {
  text-align: center;
}

.order-steps .step-item .ic-step {
  background: #e0e0e0;
  border-radius: 20px;
  height: 35px;
  width: 35px;
  padding: 8px 0;
  text-align: center;
  font-size: 1.3em;
  margin: auto;
}

.order-steps .step-item p {
  font-size: 1.2em;
  padding-top: 9px;
  margin-left: 10px;
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #aaa;
}

.order-steps .step-item.active .ic-step {
  background: #fcc210;
}

.order-steps .step-item.active p {
  color: #333;
  font-family: 'Open Sans Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .order-steps .step-item .ic-step {
    float: left;
  }
  .order-steps .step-item p {
    margin-top: -10px;
  }
  .order-steps .step-item .pay-confirm {
    margin-top: 0px;
  }
}

@media (min-width: 991px) {
  .order-steps .step-item p {
    padding-top: 8px;
    margin-top: 0;
    font-size: 1.3em;
  }
  .order-steps .step-item .pay-process {
    margin-top: -10px;
  }
}

@media (min-width: 1200px) {
  .order-steps .step-item p {
    padding-top: 8px;
    margin-top: 0;
    font-size: 1.3em;
  }
  .order-steps .step-item .pay-process {
    margin-top: 0px;
  }
}

.btn.btn-primary.btn-pay { 
  width: 100%;
  height: 38px;
  padding: 10px;
  font-size: 13px;
  margin-top: -6px;
}

.btn.btn-primary.btn-pay.btn-paid {
  background: #7CBE42;
  color: #fff;
  border: 1px solid #7CBE42;
}

@media (min-width: 768px) {
  .btn.btn-primary.btn-pay {
    width: 100%;
    height: 38px;
    padding: 10px;
    font-size: 13px;
    margin-top: 53px;
  }

}

.pay-load {
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .pay-load {
    margin-top: 40px;
  }
}

.pay-load img {
  display: block;
  margin: 0 auto 10px 
}

/* ==========================================================================
   Dashboard
   ========================================================================== */

.cl-equity {
  color: #5B90BF;
}

.cl-fincome {
  color: #5bbfa2;
}

.cl-mmarket {
  color: #8fbf5b;
}

.row-table.cl-equity,
.row-table.cl-fincome,
.row-table.cl-mmarket {
  padding: 4px 2px;
}
.row-table.cl-equity p {
  padding: 8px;
  color: #fff;
  background: #5B90BF;
}
.row-table.cl-fincome p {
  padding: 8px;
  color: #fff;
  background: #5bbfa2;
}
.row-table.cl-mmarket p {
  padding: 8px;
  color: #fff;
  background: #8fbf5b;
}

.table-port-xs .row-table.cl-equity p,
.table-port-xs .row-table.cl-fincome p,
.table-port-xs .row-table.cl-mmarket p {
  padding: 6px 17px;
  margin: 0 -17px;
}

.doughnut-container {
  padding: 0 20px;
}

.doughnut-legend {
  list-style: none;
}

.doughnut-legend li {
  font-size: 0.9em;
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 20px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.doughnut-legend-2 li {
  font-size: 0.9em;
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 20px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.doughnut-legend-2 .radio label {
  padding-left: 10px;
}

.doughnut-legend-2 li span {
  display: block;
  position: absolute;
  left: 35px;
  top: 14px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.doughnut-legend-2 li {
  margin-bottom: 0;
}

.doughnut-legend-2 li .radio {
  margin-bottom: 0;
  min-height: 10px;
}

.analysis {
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 20px;
  background: #f9fafb;
}

.analysis h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.analysis .content p {
  margin-bottom: 10px;
  color: #666;
}

.analysis .content p:last-child {
  margin-bottom: 0;
}

.analysis .ideal-link {
  color: #31708f;
  text-decoration: underline;
}


.port-summary .table > tbody > tr > th, .port-summary .table > tbody > tr > td,
.port-summary .table > thead > tr > th, .port-summary .table > thead > tr > td {
  font-size: 11px;
}


.table-port-xs {
  margin-bottom: 10px;
}

.table-port-xs:last-child {
  border-bottom: none;
}
.table-port-xs .btn-primary.btn-subscribe {
  border-radius: 3px;
  margin-right: 0;
}


.reminder > .content {
  padding: 15px 0;
}

.reminder .reminder-list a {
  border-bottom: 1px solid #eee;
  display: block;
  padding: 10px 15px;
}

.reminder .reminder-list a:hover {
  text-decoration: none;
  background: #fafafa;
}

.reminder p.remind-item {
  color: #999;
  font-size: 0.9em;
}

.reminder p.timestamp {
  font-family: 'Open Sans Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 0.9em;
}

.reminder .add-reminder {
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 8px;
  color: #999;
}

.reminder .add-reminder:hover {
  color: #cc0000;
}

.reminder .show-reminder {
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding: 10px 15px;
  margin-bottom: -15px;
  cursor: pointer;
  text-align: center;
}

.reminder .show-reminder:hover,
.reminder .show-reminder:focus {
  background: #fafafa;
  outline: none;
}

.reminder-page {
  padding: 15px 15px 0 15px;
  font-size: 11px;
}

.reminder-page p.pull-right a {
  background: #fafafa;
  border-radius: 3px;
  padding: 2px 4px;
  display: inline;
  border-bottom: 0;
}

.reminder-page p.pull-right a:hover {
  background: #eee;
}


/* ==========================================================================
   Order History
   ========================================================================== */

.actions {
  padding-bottom: 10px;
}

.actions input[type="checkbox"] {
  margin-left: 13px;
  margin-right: 13px;
}

.actions select.form-control {
  height: 22px;
  padding: 2px 5px;
  font-size: 11px;
  float: left;
  line-height: 11px;
  background: #f3f3f3 url(../img/ic_select-arrow_actions.png) no-repeat right center;
  padding: 2px 20px 4px 5px;
  width: auto;
  margin: 0 10px;
}

.actions p {
  font-size: 11px;
  padding-top: 2px;
  float: left;
}

.actions .divider {
  border-right: 1px solid #eee;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  float: left;
}

.actions .btn.btn-success {
  padding: 2px 6px;
  height: 22px;
  margin-bottom: 0;
  font-size: 11px;
}

/* Account - Order Heads
-------------------------------------------------- */

.orderhistory th {
  text-align: center;
  font-weight: normal;
}

.orderhistory .table td {
  vertical-align: middle;
  height: 50px;
}

@media (min-width: 768px) {
  .orderhistory .table td {
    text-align: center;
  }
}

.orderhistory .td-status {text-transform: uppercase;}
.orderhistory .td-status.red {color: #cc0000;}
.orderhistory .td-status.orange {color: #f27d20;}
.orderhistory .td-status.green {color: #39b54a;}

.m-orderhistory img{
  width: 100px;
}

.m-orderhistory {
  text-align: left;
  border-bottom: 1px solid #eee;
}

.m-orderhistory .m-caption {
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #aaa;
  text-transform: none;
}

.orderinfo p {
  margin-bottom: 10px;
}

.orderinfo .col-sm-6 p:last-child {
  margin-bottom: 0;
}

.orderinfo .col-sm-6 p:last-child.orderinfo-last {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .orderinfo .col-sm-6 p:last-child.orderinfo-last {
    margin-bottom: 0;
  }
}

.table > thead > tr > td.m-orderhistory, .table > tbody > tr > td.m-orderhistory, .table > tfoot > tr > td.m-orderhistory {
  padding: 10px 0;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #eee;
}

.table > tfoot > tr > td {
  border-top: 1px solid #eee;
  padding: 8px 0;
}

.table > tfoot > tr > td.tfoot-total {
  color: #333;
  font-size: 18px;
  padding: 8px 8px;
} 

.tfoot-total {
  color: #333;
  font-size: 18px;
}

@media (min-width: 768px) {
    .table > tfoot > tr > td {
    padding: 12px 8px 8px 8px;
  }
}

.order-paid {
  width: 100px;
  text-align: center;
  color: #7CBE42;
  font-size: 16px;
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 3px solid #7CBE42;
  padding: 10px;
  margin: 0 auto 20px;
}

.order-loading {
  width: 20px;
  display: block;
  margin: auto;
}


/* ==========================================================================
   Modal
   ========================================================================== */

@media (min-width: 768px) {
  .editaccount .modal-dialog {
    width: 300px;
  }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background: #f2f2f2;
  padding: 15px 10px;
  font-family: 'Open Sans Light', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #888;
  margin-top: 40px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .footer {
    padding: 15px 0px;
  }
}

.footer div.heading {
  font-family: 'Open Sans Regular', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

.footer a {
  color: #333;
}

.footer .form-inline input[type="email"] {
  width: 80%; 
  background: #fff; 
  padding: 6px 8px; 
  border-radius: 2px 0 0 2px;
  margin-bottom: 10px;
}

.footer .form-inline button {
  width: 20%; 
  height: 30px; 
  border-radius: 0 2px 2px 0;
}
#letter input[type="submit"] {
  width: 20%; 
  height: 30px; 
  border-radius: 0 2px 2px 0;
}

.footer.footer-bottom {
  margin-top: 20px;
  font-size: 11px;
  border-top: 1px solid #ddd;
  padding: 20px 0 0 0;
}

.foot-social {
  float: left;
  margin-top: 10px;
}
#letter input[type="email"] {
  width: 80%;
  background: #fff;
  padding: 6px 8px;
  border-radius: 2px 0 0 2px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .foot-social {
    float: right;
    margin-top: 0;
  }
}

.soc {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  float: left;
  margin-right: 5px;
}

.soc.twitter {
  background: url(../files/common/icon_soc-twitter.png) no-repeat;
  background-size: 30px;
}

.soc.fb {
  background: url(../files/common/icon_soc-fb.png) no-repeat;
  background-size: 30px;
}


/* ==========================================================================
   Forms
   ========================================================================== */

label.control-label {
  padding-top: 6px;
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p.control-label {
  padding-top: 6px;
}

label span.info {
  color: #aaa;
  font-weight: 200;
}

label.radio-inline input[type="radio"] {
  margin-top: 2px;
}

.form-content {
  padding-top: 6px; /* same padding as label */
}

.form-control {
  font-size: 12px;
  font-weight: 200;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 8px;
  color: #555555;
  border: 1px solid transparent;
  background: #eee;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .form-inline.form-period .form-control {
    width: 100px;
  }
}

select.form-control {
  background: #eee url(../img/ic_select-arrow_actions.png) no-repeat 100% 50%;
}

input.form-control.form-subs {
  background: #eee url(../img/ic_subscription-bg.png) no-repeat left;
  clear:left;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: default;
  background: url(../img/icon_color-none.png) repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
}

.form-url {
  background: #fafafa;
  padding: 6px 8px;
  border: 1px solid #cccccc;
  border-right: none;
  height: 30px;
  font-weight: 200;
  color: #999;
  margin: -1px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.form-control.url {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.form-group.underlined {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.row.underlined {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.form-horizontal .form-group {
  margin-right: -10px; /* same margin as container */
  margin-left: -10px; /* same margin as container */
} /* Styling is needed due to the default .form-horizontal .form-group default margin: -15px; */

.form-horizontal .control-label {
  text-align: left;
  margin-bottom: 5px;
  padding-top: 6px;
}

.help-block {
  margin-bottom: 0;
  font-size: 11px;
  color: #999;
}

.form-control.form-edit {
  text-align: center;
  cursor: pointer;
}

.form-control.form-edit:hover,
.form-control.form-edit:focus {
  border: 1px solid #e5dbc2;
  background: #ffffea;
}

.form-control.form-edit:active {
  border: 1px solid #cccccc;
  background: #fff;
}

/* Checkbox */

input[type="radio"], input[type="checkbox"] {
  margin-top: 2px;
}

.form-horizontal .radio input[type="radio"], .form-horizontal .radio-inline input[type="radio"], .form-horizontal .checkbox input[type="checkbox"], .form-horizontal .checkbox-inline input[type="checkbox"] {
  margin-left: -10px;
  margin-right: 10px;
}

.form-horizontal .radio, .checkbox {
  padding-top: 6px;
  margin-top: 0;
}

.form-horizontal .sec-head {
  text-align: center;
  background: #05477d;
  padding: 6px 0 4px;
  margin-top: -10px;
  margin-bottom: 15px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #d23f34;
}
.has-error .form-control {
  border: 1px solid #d23f34;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #d23f34;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn.btn-primary:focus, .btn.btn-primary:hover,
.btn.btn-default:focus, .btn.btn-default:hover,
.btn.btn-success:focus,  .btn.btn-success:hover {
  outline: none;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  font-size: 1em;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #333;
  background-color: #fcc210;
  border-color: #fcc210;
}

.btn-primary.btn-subscribe {
  border-radius: 3px 0 0 3px;
  margin-right: -10px;
}

.btn-primary.btn-subscribe.visible-xs {
  border-radius: 3px;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  color: #333;
  background-color: #e8b20d;
  border: 1px solid #e8b20d; 
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color: #e8b20d;
  border-color: #e8b20d;
}


.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}


.btn-default.btn-reset {
  color: #999;
  background-color: #fff;
  border: 1px solid #aaa;
}
.btn-default.btn-reset:hover,.btn-default.btn-reset:focus,.btn-default.btn-reset:active,.btn-default.btn-reset.active,.open .dropdown-toggle.btn-default.btn-reset {
  color: #333;
  background-color: #fafafa;
  border-color: #999;
}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #d2322d;
}
.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}


.btn-print {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.btn-print:hover,.btn-print:focus,.btn-print:active,.btn-print.active,.open .dropdown-toggle.btn-print {
  color: #fff;
  background-color: #265d78;
  border-color: #265d78;
}


.btn.btn-primary.btn-full,
.btn.btn-default.btn-full,
.btn.btn-success.btn-full {
  width: 100%;
  text-align: center;
}

/* ==========================================================================
   Table
   ========================================================================== */

.table {
  margin-bottom: 5px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  border-top: 1px solid #eee;
}

.table > tbody > tr > th, .table > tbody > tr > td {
  border-top: none;
  vertical-align: middle;
}

.table.table-cons {
  font-size: 0.9em;
}

.table-cons.table caption + thead > tr:first-child > th, .table-cons.table colgroup + thead > tr:first-child th, .table-cons.table thead:first-child tr:first-child th, .table-cons.table caption + thead tr:first-child td, .table-cons.table colgroup + thead > tr:first-child td, .table-cons.table thead:first-child tr:first-child td {
  padding: 8px 0 0 0;
}

.table-cons.table > thead > tr td.table-cons-row-2, .table-cons.table > tbody > tr td.table-cons-row-2, .table-cons.table > tfoot > tr td.table-cons-row-2 {
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}

.table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 1px solid #eee;
  font-family: 'Open Sans Semibold', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* ==========================================================================
   Alert
   ========================================================================== */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}


/* ==========================================================================
   Alert
   ========================================================================== */

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.modal-content {
  border-radius: 2px;
}

 /* ========================================================================================================================================
   Chrome Frame Support
   ========================================================================================================================================= */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


 /* ========================================================================================================================================
   Fonts
   ========================================================================================================================================= */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontName';
  src: url('../fonts/FontName.eot');
  src: url('../fonts/FontName.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FontName.woff') format('woff'),
       url('../fonts/FontName.ttf') format('truetype'),
       url('../fonts/FontName.svg') format('svg'),
       url('../fonts/FontName.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontName';
  src: url('../fonts/FontName.eot');
  src: url('../fonts/FontName.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FontName.woff') format('woff'),
       url('../fonts/FontName.ttf') format('truetype'),
       url('../fonts/FontName.svg') format('svg'),
       url('../fonts/FontName.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg') format('svg'),
       url('../fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-light-webfont.woff') format('woff'),
       url('../fonts/opensans-light-webfont.ttf') format('truetype'),
       url('../fonts/opensans-light-webfont.svg') format('svg'),
       url('../fonts/opensans-light-webfont.svg#opensans-light-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff'),
       url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-semibold-webfont.svg') format('svg'),
       url('../fonts/opensans-semibold-webfont.svg#opensans-semibold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}


 /* ========================================================================================================================================
   Helper Class
   ========================================================================================================================================= */

/*
* Fonts
*/

.font6 {font-size: 6px;}
.font7 {font-size: 7px;}
.font8 {font-size: 8px;}
.font9 {font-size: 9px;}
.font10 {font-size: 10px;}
.font11 {font-size: 11px;}
.font12 {font-size: 12px;}
.font13 {font-size: 13px;}
.font14 {font-size: 14px;}


/*
* Margins & Padding
*/

.m_t_0 {margin-top:0px;}
.m_r_0 {margin-right:0px;}
.m_b_0 {margin-bottom:0px;}
.m_l_0 {margin-left:0px;}

.m_t_5 {margin-top:5px;}
.m_r_5 {margin-right:5px;}
.m_b_5 {margin-bottom:5px;}
.m_l_5 {margin-left:5px;}

.m_t_10 {margin-top:10px;}
.m_r_10 {margin-right:10px;}
.m_b_10 {margin-bottom:10px;}
.m_l_10 {margin-left:10px;}

.m_b_10-xs {margin-bottom:10px;}

@media (min-width: 768px) {
  .m_b_10-xs {margin-bottom:0px;}
}

.m_t_15 {margin-top:15px;}
.m_r_15 {margin-right:15px;}
.m_b_15 {margin-bottom:15px;}
.m_l_15 {margin-left:15px;}

.m_t_20 {margin-top:20px;}
.m_r_20 {margin-right:20px;}
.m_b_20 {margin-bottom:20px;}
.m_l_20 {margin-left:20px;}

.m_t_30 {margin-top:30px;}
.m_r_30 {margin-right:30px;}
.m_b_30 {margin-bottom:30px;}
.m_l_30 {margin-left:30px;}

.p_t_5 {padding-top:5px;}
.p_r_5 {padding-right:5px;}
.p_b_5 {padding-bottom:5px;}
.p_l_5 {padding-left:5px;}

.p_t_10 {padding-top:10px;}
.p_r_10 {padding-right:10px;}
.p_b_10 {padding-bottom:10px;}
.p_l_10 {padding-left:10px;}

.p_t_15 {padding-top:15px;}
.p_r_15 {padding-right:15px;}
.p_b_15 {padding-bottom:15px;}
.p_l_15 {padding-left:15px;}

.p_t_20 {padding-top:20px;}
.p_r_20 {padding-right:20px;}
.p_b_20 {padding-bottom:20px;}
.p_l_20 {padding-left:20px;}

.p_rl_5 {padding-right:5px;padding-left:5px;}
.p_rl_10 {padding-right:10px;padding-left:10px;}
.p_rl_15 {padding-right:15px;padding-left:15px;}
.p_rl_20 {padding-right:20px;padding-left:20px;}

.m_rl_-5 {margin-right:-5px;margin-left:-5px;}
.m_rl_5 {margin-right:5px;margin-left:5px;}
.m_rl_10 {margin-right:10px;margin-left:10px;}
.m_rl_15 {margin-right:15px;margin-left:15px;}
.m_rl_20 {margin-right:20px;margin-left:20px;}

.p_tb_5 {padding-top:5px;padding-bottom:5px;}
.p_tb_10 {padding-top:10px;padding-bottom:10px;}
.p_tb_15 {padding-top:15px;padding-bottom:15px;}
.p_tb_20 {padding-top:20px;padding-bottom:20px;}

.m_tb_5 {margin-top:5px;margin-bottom:5px;}
.m_tb_10 {margin-top:10px;margin-bottom:10px;}
.m_tb_15 {margin-top:15px;margin-bottom:15px;}
.m_tb_20 {margin-top:20px;margin-bottom:20px;}

.p_0 {padding:0px}
.p_5 {padding:5px}
.p_10 {padding:10px}
.p_15 {padding:15px}
.p_20 {padding:20px}
.p_25 {padding:25px}
.p_30 {padding:30px}


/* 
 * Set div in the middle
 */

.outer-center {
  float: right;
  right: 50%;
  position: relative;
}
.inner-center {
  float: right;
  right: -50%;
  position: relative;
}

/*
 * Overlay
 */

.xoverlay {
  height: 200px;
  width: 300px;
  margin: 100px 0 0 -150px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fafafa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow:none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 .feature img{
  width: 100%!important;
 }
 .payment-confirm img{
  width:100px;
  display: block;
  max-width: 100%;
  height: auto;
 }
 .checkout_details{
  display: none;
 }

 /* CUSTOM */

 .doughnut-legend-2 li span.nav_history_color {
  display: inline-block;
  position: static;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
 }
 #arrows a{
  cursor: pointer;
 }

 .ui-datepicker .ui-datepicker-title select {
  color: #000;
 }
.price.pull-left{
  color: #31708f;
}
.table > tbody > tr.highlight > th, .table > tbody > tr.highlight > td {
  background-color: #fcc210;
}

@media (min-width: 768px){
  .form-inline.form-period .form-control#product_type {
    width: 380px;
  }  
}

.doughnut-container, .canvas-line-container  {
  background: url(../img/loading_2.gif) no-repeat center center;
}


 /* Fazrin shopping cart*/
 .cart-head{
  font-weight: bold;
  padding: 8px 0;
  border-bottom:1px solid #efefef;
 }
 #cart > .cart-head{
    border-top:1px solid #efefef;
 }
 .cart-product{
  padding:8px 0;
  border-bottom:1px solid #efefef;
 }
 .cart-head:last-child{
  border-bottom:none;
 }
 /*@media only screen and (min-width: 1000px) {*/
  .text-mobile{
    display: none;
  }
 /*}*/

  span#cart-total{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
  }
  @media only screen and (max-width: 991px) {
  /* Style adjustments for viewports that meet the condition */
    .padding-mobile{
      padding-left: 100px;
      text-align: left;
      /*padding:8px 0;*/
    }

    #cart .padding-mobile, .padding-mobile .col-sm-5{
      margin:8px 0;
    }
    .cart-footer-label{
      text-align: left;
      width: 50%;
      float:left;
    }
    #cart-footer strong{
      font-weight: normal;
      font-family:'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    #cart-footer .cart-head{
      min-height: 0px;
      border:none;
      padding:2px;
      /*font-weight: normal;*/
    }
    div.col-md-offset-2.col-md-2.text-right.tfoot-total{
      /*margin-top:-8px;*/
    }
    div.col-md-offset-2.col-md-2.text-right.cart-footer-value.fee-total {
      /*margin-top: -6px;*/
    }
    #cart-footer .cart-head .cart-footer-label{
      /*min-height: 35px;*/
      /*border:none;*/
      font-weight: normal;
      color:#aaa;
    }
    .cart-footer-value label{
      font-weight: normal;
    }
    #cart img{
      width: 75px;
      margin-top:8px;
    }
    .cart-footer-value, .tfoot-total{
      text-align: right;
      width: 50%; 
      float: left;
    }
    .text-mobile{
      display: inline-block;
      color:#aaa;
    }
    #cart img{
      position: absolute;
    }
  }

  .minimum_error{
    float: left;
    text-align: left;
    color: red;
    font-size: 12px;
  }

  #date_start, #date_end, #date_start_mobile, #date_end_mobile{
    color:#000000;
  }
  #ui-datepicker-div{
    z-index: 9999;
  }