.ui-tabs .ui-tabs-panel {
	padding:0;
}
.customer-general-detail{
	width: 100%;
	display: block;;
	float:left;
}
.customer-general-detail .left{
	float:left;
	width: 50%;
}
h3.form-title{
	color:#FF7800;
}
#confirm_account_modal{
	width: 1050px;
	left:35%;
}
#confirm_account_modal input{
	background: none;
	border:none; 
}

.percent-50{
	width: 50%;
	float:left;
}
.percent-100{
	width: 100%;
	float: left;
}
.button1 span.disable{
	background: #ccc;
}
span.title{
	font-weight: bold;
	text-transform: capitalize;
	color: #FF6E00;
}
#header .a_msg_box {
	background: url("../image/icons/msg_w_icon.gif") no-repeat;
}
#header .a_msg_box {
height: 31px;
width: 52px;
float: right;
padding-right: 5px;
padding-left: 0;
}
#confirm_account_modal tr{
	border-top:1px solid #ccc;
}
#confirm_account_modal tr:nth-child(odd){
	background: #CFEAFF;
}
input[readonly="readonly"]{
	color:#ccc;
}
div.mask1 div input {
	background-image: none;
	border:1px solid #ccc;
}
/*div.aform, div.afield{
	width: 100%;
}*/
textarea{
	width: 100%;
	min-height: 60px;
}
input:read-only { 
    background: yellow;
}

#customer-approve textarea{
	width:500px;
}
#em_0{
	width: 200px;
}

#customer-approve input[type="text"]{
	width:185px;
}
.edit-customer-approve textarea{
	width: 400px;
}

.edit-customer-approve div.mask1 div {
	background:none;
}

.edit-customer-approve .remark-textarea, 
.edit-customer-approve textarea,
.edit-customer-approve div.aform, div.afield{
	width:100%;
}
.edit-customer-approve .mask1 .atext, 
.edit-customer-approve .mask2 .atext {
	color:#9E9E9E;
}

/* customer approve - fazrin */
#customer-approve .cont_mid{
	height: 818px;
	/*border:1px solid #dcdcdc;*/
	border-bottom:1px solid #dcdcdc;
	margin-bottom: 10px;
	position: relative;
	display: block;
}
#compareDiv{
	/*background: RED;*/
	height: 838px;
	border-bottom:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	float:left;
	margin-left:-1px;
}

#compareDiv .cont_mid{
	border-right:none;
}

#customer-approve .botom-left,#customer-approve .fieldset .bottom_mid{
	background: none;
	border:none;
}
.col-md-6{
	width:50%;
	float:left;
}
.col-md-12{
	width:100%;
	float:left;
}
.loading-animation{
	width: 32px;
	height: 32px;
	/*background: #ff0000;*/
	top: 45%;
	left: 48%;
	position: fixed;
	background: url('../image/ajax-loader-blue.gif');
}
.customer-detail-right input{
	width: 100%;
}