<h1 class="heading1">
  <span class="maintext"><i class="icon-thumbs-up"></i> <?php echo $heading_title; ?></span>
  <span class="subtext"></span>
</h1>

<div class="container-fluid">

<section class="mb40">
	<p><?php echo $text_message; ?></p>
	
	<a href="<?php echo $continue; ?>" class="btn mr10" title="<?php echo $button_continue ?>">
	    <i class="icon-arrow-right"></i>
	    <?php echo $button_continue ?>
	</a>
</section>

</div>